@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?cnws7h');
  src:  url('../fonts/icomoon.eot?cnws7h#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?cnws7h') format('truetype'),
    url('../fonts/icomoon.woff?cnws7h') format('woff'),
    url('../fonts/icomoon.svg?cnws7h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}