.wrapper {
	width: 1500px;
	margin: 0 auto;
	overflow: hidden;
}
.wrap {
	width: 1170px;
	margin: 0 auto;
}
/*========== HEADER ================*/
/*---------- section contact-login ----------*/
.contact-login-row {
	height: 30px;
	background-color: #0566ad;
}
.contact-login {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*----view----*/
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.phone__ico {
	font-family: 'icomoon';
	font-size: 12px;
	margin-right: 6px;
}
.phone__text {
	margin-right: 6px;
}
/*---------------*/
.auth-block {
	display: flex;
	align-items: center;
}
.auth__item:not(:last-child) {
	margin-right: 12px;
}
.auth__item:not(:last-child):after {
	content: '\/';
	font-size: 16px;
	margin-left: 12px;
}
.auth__link {
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 700;
}
/*---------- section header-control ----------*/
.header-control-row {
	height: 50px;
	background-color: #0566ad;
}
.header-control {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-bottom: 10px;	
}
.search-block {
	position: relative;
	margin-right: 23px;
}
.search__text {
	width: 254px;
	height: 37px;
	background-color: #ffffff;
	border-radius: 5px;
	border: none;
	padding: 0 50px 0 13px;
	/*----view----*/
	color: #666666;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 500;
}
.search__btn {
	position: absolute;
	right: -1px;
	width: 37px;
	height: 37px;
	border-radius: 0 5px 5px 0;
	background-color: #11accd;
	border: none;
	/*----view----*/
	font-family: 'icomoon';
	font-size: 20px;
	color: #ffffff;
}
.header-nav {
	display: flex;
}
.header-nav__item:not(:last-child):after {
	content: '\|';
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 500;
	margin-right: 13px;
	margin-left: 13px;
}
.header-nav__link {
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 500;
}
/*---------- header-menu ----------*/
.row-header-menu {
	height: 86px;
/*	box-shadow: 0 0 10px rgba(35, 31, 32, 0.37);*/
	background-color: #ffffff;
	margin-bottom: 10px;
}
.header-menu {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-logo {
	height: 100%;
	position: relative;
}
.logo-text {	
	font-family: "PEPSI";
	font-size: 36px;
	font-weight: 400;
	letter-spacing: 1.8px;
	position: absolute;
	left: 18px;
	z-index: 2;
}
.logo-text span:nth-child(1) {
	color: #0566ad;
	margin-right: 10px;
}
.logo-text span {
	color: #11accd;
}
.header-logo img {
	position: absolute;
	bottom: 10px;
}
.header-menu-block {}
.header-menu-list {
	display: flex;
}
.header-menu__item:not(:last-child){
	margin-right: 40px;
}
.header-menu__link {
	color: #272727;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 500;
}
/*========== MAIN ==================*/
/*---------- section slider ----------*/
.slider {
	height: 503px;
	position: relative;
	margin-bottom: 45px;
}
.slider-banner {
	position: relative;
	box-shadow: inset 0px 10px 10px -6px rgba(35, 31, 32, 0.37);	
	z-index: 2
	background-color: inherit;	
}
.slider__img {
	position: relative;
	z-index: -1;
}
.slider-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 3px;
	position: absolute;
	width: 40px;
	height: 79px;
	background-color: #ffffff;
	top: 50%;
	transform: translateY(-50%);
	z-index: 3;
	border: 1px solid #0566ad;
}
.backward {
	left: 0;
}
.forward {
	right: 0;
	transform: scale(-1) translateY(50%);
}
/*---------- section fact ----------*/
.fact {
	padding-top: 5px;
	height: 340px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 60px;
}
.fact-text {
	width: 566px;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.fact-text > :not(:last-child) {
	margin-bottom: 38px;
}
.fact-text__title {
	color: #010101;
	font-family: 'Raleway', sans-serif;
	font-size: 34px;
	font-weight: 400;
	text-transform: uppercase;
}
.fact-text__desc {
	max-height: 180px;
	overflow: hidden;
	color: #333333;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.fact-text__btn {
	width: 178px;
	min-height: 48px;
	border-radius: 24px;
	background-color: #11accd;
	display: flex;
	align-items: center;
	justify-content: center;
	/*----view----*/
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
}
.fact-media {
	position: relative;
}
.fact-media__btn {
	padding-top: 5px;
	transform: translate(50%,-50%);
	font-size: 45px;
	color: rgba(255, 255, 255, 1);
	right: 50%;
	top: 50%;
	position: absolute;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: rgba(30, 30, 32, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
}
.fact-media__btn:after {
	display: block;
	content: '';
	position: absolute;
	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.4);
	width: 81px;
	height: 81px;
	top: -3px;
	left: -3px;
	bottom: 0;
	right: 0;
}
/*---------- section grade ----------*/
.grade-level {
	margin-bottom: 80px;
}
.grade-block {
	display: flex;
	justify-content: space-between;	
}
.row__title {
	text-align: center;
	color: #000000;
	font-family: 'Raleway', sans-serif;
	font-size: 34px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.grade-item {
	display: block;
	width: 370px;
	height: 251px;
	overflow: hidden;
	position: relative;
}
.grade__text {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	width: 370px;
	height: 55px;
	background-color: rgba(5, 102, 173, 0.7);
	/*----view----*/
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 500;
	text-transform: uppercase;
}
/*---------- section active ----------*/
.active {
	margin-bottom: 80px;
}
.active-block {
	display: flex;
	justify-content: space-between;
}
.active-item {
	min-height: 343px;
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.active__img {
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 174px;
	height: 174px;
	border: 7px solid #11accd;
	background-color: #0566ad;
	margin-bottom: 30px;
}
.block-text {
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.block__title {
	color: #000000;
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	font-weight: 500;
}
.block__desc {
	overflow: hidden;
	max-height: 70px;
	color: #333333;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}
.block__link {
	color: #0566ad;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 500;
}
/*---------- section experience ----------*/
.experience {
	margin-bottom: 80px;
}
.experience-block {
	width: 1170px;
	height: 350px;
	display: flex;
	flex-wrap: wrap;
	margin: 20px;	
	justify-content: space-between;
	align-content: space-between;
}
.experience-item {
	min-height: 130px;
	display: flex;
	width: 33.333%;
	/*margin-bottom: 60px;*/
}
.experience-number-block {
	margin-right: 30px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background-color: #0566ad;
	display: flex;
	align-items: center;
	justify-content: center;
	/*----view----*/
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;	
	font-size: 40px;
	font-weight: 700;
	padding-bottom: 5px;
}
.experience-item .block-text {
	align-items: flex-start;
	overflow: hidden;
}
.experience-item .block__desc {
	text-align: left;
	max-width: 245px;
}
/*---------- section staffs ----------*/
.staffs {
}
.staffs-block {
	display: flex;
}
.staffs-item {
	width: 25%;
}
.staffs__img {
	margin-bottom: 22px;
}
/*---------------*/
.social-list {
	display: flex;
}
.social__item:not(:last-child) {
	margin-right: 13px;
}
.social__link {
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	background-color: #666666;
}
.social__link img {
	width: 65%;
	height: 65%;
}
